$primary: rgba(0, 68, 255, 0.877);
$success: rgb(20, 206, 20);
$danger: rgba(219, 32, 19, 0.986);
$warning: rgba(247, 243, 8, 0.87);
$info: rgb(151, 220, 243);
$white: #FFF;
$background: rgb(241, 247, 214);
$textColor: rgb(24, 22, 22);