
//* Usando estilos parciales en los componentes
@import '3-helpers/constants';

.container {
    width: 100%;
}

.title {
    text-align: center;
    color: $primary;
}

.resumen {
    background-color: $warning;
}